<html lang="ja">
    <head>
        <title>fitness-app</title>
        <style>
            h2{
                margin-top:5%;
                margin-left:30%;
                font-size:200%;
            }
            button{
                margin-top:2%;
                margin-left:35%;
                height:8%;
                width:15%;
                font-size:100%;
                background-color:rgb(60, 60, 181);
            }
        </style>
    </head>
    <body>
        <h2>fitnessアプリへようこそ</h2>
        <button onclick="location.href='/sleep'">睡眠を記録</button>
        
    </body>
</html>